:root {
  --bg-color: #282c34;
  --text-color: #fff;
  --accent-color: #61dafb;
}

.app-header {
    margin: 24px 48px 0;
}

.app-content {
    margin: 24px 48px;
}

.filter-toggle {
    margin-bottom: 24px;
    font-size: 13px;
}

.filter-toggle input[type="checkbox"] {
    margin-right: 12px;
}
